@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --backgroundPagina: #E4E4E4;
    --backgroundItem: #FFFFFF; 
    --colorBarra: #009688;
    --colorBarraFondo: #F1F1F1;
    --colorText: #757575;
    --fontFamily: 'Roboto', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
h1, h2, h3{
    margin: 0;
}
.margen-lateral{
    margin: 0rem 1.5rem;
}
.borde-final{
    border-bottom: 1px solid var(--colorBarraFondo);
}
body{
    background-color: var(--backgroundPagina);
    font-family: var(--fontFamily);
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--colorText);
    line-height: 3;
    margin: 0px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: 100vh;
    width: 55vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem;
}
.item{
    background-color: var(--backgroundItem);
}
.item-1{
    grid-column: 1 / 4;
    grid-row: 1 / 9;
}
figure{
    margin: 0;
}
figure img{
    width: 100%;
}
.contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.contacto i{
    color: var(--colorBarra);
}
.barra{
    background-color: var(--colorBarraFondo);
    height: 1.5rem;
    border-radius: 5rem;
}
.barra-inferior{
    background-color: var(--colorBarra);
    height: 1.5rem;
    width: 80%;
    border-radius: 5rem;
}
.item-2{
    grid-column: 4 / 11;
    grid-row: 1 / 4;
}
.item-3{
    grid-column: 4 / 11;
    grid-row: 4 / 9;
}
.footer{
    background-color: var(--colorBarra);
    grid-column: 1 / 11;
    grid-row: 9 / 11;
}